---
import Layout from '../layouts/Layout.astro'
import Image from 'astro/components/Image.astro'
// Import images for bento grid and founders
import aboutUs1 from '../assets/about-us-1.jpg'
import aboutUs2 from '../assets/about-us-2.jpg'
import aboutUs3 from '../assets/about-us-3.jpg'
import aboutUs4 from '../assets/about-us-4.jpg'
import meetingFounder from '../assets/meeting-founder.png'
import vision from '../assets/vision.jpg'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import CallToContact from '../components/Home/CallToContact.astro'
---

<Layout title='About Us'>
  <Header />

  <div
    class='container font-medium text-[#010D3E] tracking-tight pt-16 flex flex-col md:gap-12 gap-6'
  >
    <p
      class='text-sm font-medium text-[#001E61]/70 my-2 uppercase tracking-wider'
    >
      Về chúng tôi
    </p>
    <p
      class='lg:text-5xl md:text-4xl text-2xl text-[#001E61] font-medium max-w-3xl capitalize'
    >
      Đối tác tin cậy trong lĩnh vực <br />bao bì nhựa
    </p>
    <div class='relative lg:self-end'>
      <p class='text-lg text-[#001E61]/80 max-w-lg font-medium self-end'>
        Chúng tôi không ngừng đổi mới và cải tiến để đảm bảo mỗi sản phẩm đều
        đạt chuẩn chất lượng cao nhất, đáp ứng mọi nhu cầu đóng gói của doanh
        nghiệp
      </p>
    </div>
  </div>
  <div class='container my-12'>
    <div class='grid grid-cols-2 md:grid-cols-4 gap-4'>
      <Image
        src={aboutUs4}
        alt='About Us Image 1'
        class='w-full h-auto rounded-2xl'
      />
      <Image
        src={aboutUs1}
        alt='About Us Image 2'
        class='w-full h-auto rounded-2xl'
      />
      <Image
        src={aboutUs3}
        alt='About Us Image 3'
        class='w-full h-auto rounded-2xl'
      />
      <Image
        src={aboutUs2}
        alt='About Us Image 4'
        class='w-full h-auto rounded-2xl'
      />
    </div>
  </div>

  <div class='container mt-12 md:mt-16 lg:mt-24'>
    <hr class='border-t-2 border-[#001E61]/20' />
  </div>

  <section
    class='container font-medium text-[#010D3E] tracking-tight flex flex-col md:gap-12 gap-8'
  >
    <p class='text-sm font-medium text-[#001E61]/70 my-2 uppercase'>
      Câu chuyện sáng lập
    </p>
    <h2 class='text-xl md:text-5xl font-medium text-[#001E61] mb-8 capitalize'>
      Xây dựng bằng niềm đam mê
    </h2>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-8'>
      <div>
        <Image
          src={meetingFounder}
          alt="Our founder's story"
          class='w-5/6 md:w-5/6 lg:w-2/3 h-10/12 self-center'
        />
      </div>
      <div class='place-items-center place-content-center'>
        <p class='text-sm md:text-lg font-medium text-[#001E61]/80'>
          Khởi đầu sự nghiệp trong ngành in ấn quảng cáo, ông Đức Bình sớm nhận
          ra tầm quan trọng của bao bì đẹp trong việc đưa sản phẩm đến tay người
          tiêu dùng. Nhận thức này đã thúc đẩy ông đào sâu vào lĩnh vực in ấn và
          sản xuất, dẫn đến việc thành lập công ty in ấn bao bì Vạn Phú Bình.
          Trong suốt gần hai thập kỷ qua, công ty đã không ngừng nỗ lực tạo ra
          những lớp "áo" chất lượng cho hàng triệu sản phẩm, góp phần nâng tầm
          giá trị của chúng.
        </p>
      </div>
    </div>
  </section>

  <div class='container mt-12 md:mt-16 lg:mt-24'>
    <hr class='border-t-2 border-[#001E61]/20' />
  </div>

  <section class='container flex flex-col md:gap-16 gap-8'>
    <div class='lg:mb-16 flex flex-col gap-8'>
      <p class='text-sm font-medium text-[#001E61]/70 my-2 uppercase'>
        Tầm nhìn và Giá Trị cốt lõi
      </p>
      <h2
        class='text-xl text-left md:text-5xl font-medium text-[#001E61] capitalize'
      >
        Tầm nhìn
      </h2>
      <p class='text-left text-sm md:text-lg text-[#001E61]/80'>
        Trở thành đối tác tin cậy hàng đầu trong lĩnh vực bao bì, nơi mà sự sáng
        tạo và chất lượng hội tụ để nâng tầm giá trị thương hiệu của khách hàng
        một cách bền vững
      </p>
      <Image
        src={vision}
        alt='Our Vision'
        class='w-full h-64 md:h-[450px] rounded-2xl object-cover'
      />
    </div>

    <div class='flex flex-col gap-8'>
      <h2
        class='text-xl md:text-5xl font-medium text-[#001E61] mb-8 capitalize'
      >
        Giá trị cốt lõi
      </h2>
      <p class='text-left text-sm md:text-xl text-[#001E61]/80'>
        Những giá trị cốt lõi định hình nên bản sắc và hướng đi của Vạn Phú
        Bình:
      </p>
      <div class='grid grid-cols-1 md:grid-cols-3 gap-16'>
        <div class='flex flex-col justify-center items-center space-y-4 h-full'>
          <img
            class='h-auto rounded-2xl'
            src='https://illustrations.popsy.co/white/team-idea.svg'
            alt=''
          />
          <h2 class='text-2xl text-semibold text-[#001E61]/80 text-center'>
            chính trực và uy tín
          </h2>
        </div>

        <div class='flex flex-col justify-center items-center space-y-4 h-full'>
          <img
            class='h-auto rounded-2xl'
            src='https://illustrations.popsy.co/white/celebrating-business-success.svg'
            alt=''
          />
          <h2 class='text-2xl text-semibold text-[#001E61]/80 text-center'>
            đổi mới và cải tiến
          </h2>
        </div>
        <div class='flex flex-col justify-center items-center space-y-4 h-full'>
          <img
            class='h-auto rounded-2xl'
            src='https://illustrations.popsy.co/white/man-riding-a-rocket.svg'
            alt=''
          />
          <h2 class='text-2xl text-semibold text-[#001E61]/80 text-center'>
            phản ứng nhanh
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class='container'>
    <CallToContact />
  </section>

  <Footer />
</Layout>
